/* .text-decoration{
    text-decoration: none !important;
} */

body {
    font-family: 'Poppins', sans-serif;
}

:root {
    --bs-primary-color: #d0e6fb;
    --bs-blue-color: #06B6D4;
    --bs-seccondary-color: #19263B;
}

/* ALL SECTION  */

.line-limiting {
    width: 100%;
    height: 17px;
    background-color: #142032;
    /* background: linear-gradient(to bottom, var(--bs-seccondary-color), rgba(0, 255, 0, 0)); */
}

.form-control:focus {
    box-shadow: none !important;
}

.color-primary {
    color: var(--bs-primary-color) !important;
}

.text-color-secondary{
    color: var(--bs-seccondary-color);
}

.fs-sm {
    font-size: 14px;
    letter-spacing: 0.3px;
}

.fs-s-sm {
    font-size: 13px;
    letter-spacing: 0.3px;
}

.text-gray {
    color: #757575;
}

hr {
    opacity: 0.1;
}

.fw-bolder {
    font-weight: 500 !important;
}

.fw-bold {
    font-weight: 700 !important;
}

td, th {
    white-space: nowrap !important;
}

.card-header,
.card-footer {
    background: #F8FAFC !important;
}

.text-title {
    position: relative;
    padding-left: 20px;
}

.text-title::before {
    content: '';
    left: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    background: var(--bs-seccondary-color);
    width: 6px;
    height: 100%;
}

.text-title.dark::before {
    background: var(--bs-blue-color) !important;
}

/* END ALL SECTION  */

/* navbar section  */

/* .navbar {
    position: absolute;
    top: 0;
    width: 100%;
} */

/* end navbar section  */

/* hero section  */

#hero-banner {
    background-image: url('/img/hero-banner.png');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 760px;
}

.text-hero h1 {
    font-size: 42px;
    letter-spacing: 0.8px;
    line-height: 1.1;
}

/* .text-hero  */

#hero-banner .content {
    margin-top: 580px;
}

#hero-banner h1 {
    color: var(--bs-primary-color);
    font-size: 50px;
    letter-spacing: 0.5px;
}

#hero-banner p {
    color: var(--bs-primary-color);
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0.9px;
}

/* end hero section  */

/* materi section  */

.titleIndexMateri { 
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    text-overflow: ellipsis;
    text-decoration: none;
}

.subTitle-index {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    text-decoration: none;
    opacity: 80%;
    font-weight: 400;
}

.text-description-index {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    text-overflow: ellipsis;
    text-decoration: none;
    opacity: 70%;
}

.nav-link.text-color-secondary:hover {
    transition: 0.5s;
    border-bottom: solid 1px var(--bs-seccondary-color);
    color: var(--bs-seccondary-color) !important;
}

.nav-link.text-color-secondary:focus, .nav-pills .nav-link.active {
    color: var(--bs-seccondary-color);
    background: none !important;
}


/* end materi section  */

/* jadwal sholat section  */

#jadwal-sholat {
    height: 560px;
}

/* #jadwal-sholat h1 {
    font-size: 40px;
    color: var(--bs-seccondary-color);
    font-weight: 600;
}

#jadwal-sholat .container .month .card .card-body {
    height: 500px;
    overflow: auto;
} */

/* end jadwal sholat section  */

/* Al quran  */

.surah-column, .ayat-column {
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    height: 100vh;
    /* background: rgb(191, 191, 191); */
    overflow-y: scroll;
}

/* End Al quran  */

/* alquran-audio section  */

#alquran-audio {
    height: 100%;
    background: var(--bs-seccondary-color);
}

#alquran-audio .card-footer button {
    z-index: 5;
    width: 80px;
    height: 80px;
    bottom: -20%;
    left: 50%;
    transform: translateX(-50%);
}

#alquran-audio .audio-content .progress {
    background: #F1F5F9 !important;
    height: 8px;
}

#alquran-audio .audio-content .progress .progress-bar {
    background: var(--bs-blue-color) !important;
}

#alquran-audio .audio-content .progress .progress-bar.animate {
    width: 0%;
    animation: audioBarAlIsra 11s linear;
}

@keyframes audioBarAlIsra {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}

/* end alquran-audio section  */

/* Btn Primary */
.btn-primary {
    background-color: var(--bs-seccondary-color) !important;
    border-color: var(--bs-seccondary-color) !important;
}

.btn-primary:focus   {
    background-color: var(--bs-seccondary-color) !important;
    border-color: var(--bs-seccondary-color) !important;
}

/* berita section  */

#berita h6 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    text-decoration: none;
}

#berita p {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    text-overflow: ellipsis;
    text-decoration: none;
}

/* end berita section  */

/* Main Banner Section */
#main-banner .card {
    background: rgb(210, 255, 200);
}
/* End Main Banner Section */
